my node red project.txt
[{"id":"bbea8e28.8f4f08","type":"natural-language-understanding","z":"a6fecf38.6893a","name":"natural language understanding","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":550,"y":380,"wires":[["249e8c19.e3f384","646630b6.9ad068"]]},{"id":"249e8c19.e3f384","type":"debug","z":"a6fecf38.6893a","name":"","active":true,"console":"false","complete":"features","x":553,"y":268.70001220703125,"wires":[]},{"id":"646630b6.9ad068","type":"function","z":"a6fecf38.6893a","name":"passing nlu results ","func":"msg.payload = msg.features.keywords ; \nreturn msg;","outputs":1,"noerr":0,"x":845,"y":320.8333435058594,"wires":[["3433f769.961768","ebe8fa61.3a775"]]},{"id":"3433f769.961768","type":"split","z":"a6fecf38.6893a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":944.5000305175781,"y":396.73333740234375,"wires":[["f9143211.48c0b"]]},{"id":"67e8e5d0.fb22ac","type":"http in","z":"a6fecf38.6893a","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":137.00006103515625,"y":172.56668090820312,"wires":[["1fd3137b.e392f5"]]},{"id":"6fd0cea4.9de0f","type":"http response","z":"a6fecf38.6893a","name":"","statusCode":"","headers":{},"x":472.0000305175781,"y":155.933349609375,"wires":[]},{"id":"1fd3137b.e392f5","type":"template","z":"a6fecf38.6893a","name":"Front end","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Assembly Workshop</title>\n\n    <!-- Bootstrap -->\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <style>\n        .loader {\n            position: absolute;\n            z-index: 1;\n            width: 150px;\n            height: 150px;\n            border: 16px solid #f3f3f3;\n            border-radius: 50%;\n            border-top: 16px solid #3498db;\n            width: 120px;\n            height: 120px;\n            -webkit-animation: spin 2s linear infinite;\n            animation: spin 2s linear infinite;\n        }\n        @-webkit-keyframes spin {\n            0% {\n                -webkit-transform: rotate(0deg);\n            }\n            100% {\n                -webkit-transform: rotate(360deg);\n            }\n        }\n        @keyframes spin {\n            0% {\n                transform: rotate(0deg);\n            }\n            100% {\n                transform: rotate(360deg);\n            }\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"jumbotron\" style=\"background:black; text-align: center\">\n        <div style=\"color:white\">\n            <h1>Assembly Workshop</h1>\n            <h2>Assembly worksop on Natural language understanding and Natural language classifiers.</h2>\n        </div>\n    </div>\n    <div class=\"container mx-auto\" style=\"width:66%\">\n        <div class=\"row col-sm-offset-5 hidden\" style=\"height:150px\" id=\"loader\">\n            <div class=\"loader\"></div>\n        </div>\n        <div class=\"row\">\n            <div class=\"form-group col-sm-offset-3 col-sm-6\">\n                <label for=\"textArea\" class=\"control-label\">Describe your self in a small paraghraph </label>\n                <textarea class=\"form-control\" rows=\"10\" id=\"input\"></textarea>\n                <span class=\"help-block\">Answer the above question in a short essay format and be as honest as you can. Based on your response the service will recommend which career suits you most.</span>\n                <button class=\"btn btn-primary\" type=\"button\" id=\"submit\">Submit</button>\n                </span>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"row\">\n        <div class=\"col-sm-offset-4 hidden\" id=\"results\">\n            <!-- populate fields to diplay results -->\n            <h3 id=\"result\">Results:</h3>\n            <div id=\"details\"></div>\n        </div>\n    </div>\n\n    </div>\n\n\n    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <!-- Include all compiled plugins (below), or include individual files as needed -->\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script src=\"static/antixss.js\" type=\"text/javascript\"></script>\n\n    <script>    \n        //fill with populated field \n        function populateFields(result) {\n            $('#details').empty();\n            $('#details').append(result);\n            $('#results').removeClass('hidden');\n        }\n        function loading(ennable) {\n            if (ennable) {\n                $('#loader').removeClass('hidden');\n                $('#input').attr('disabled', \"\");\n                $('#submit').prop('disabled', true);\n            } else {\n                $('#loader').addClass('hidden');\n                $('#input').removeAttr('disabled');\n                $('#submit').prop('disabled', false);\n            }\n        }\n        function sendRequest(request) {\n            loading(true);\n            $.ajax({\n                method: \"GET\",\n                url: \"./api\",\n                contentType: \"application/text\",\n                data: {\"request\": request}\n            })\n                .done(function (response) {\n                    populateFields(response);\n                    loading(false);\n                });\n        }\n        $('#input').keydown(function (e) {\n            var data = $('#input').val();\n            if (e.which == 13 && data.length > 0) { //catch Enter key\n                sendRequest(data);\n            }\n        });\n        $('#submit').click(function (e) {\n            var data = $('#input').val();\n            if (data.length > 0) {\n                sendRequest(data);\n            }\n        });\n    </script>\n</body>\n\n</html>","output":"str","x":263.7333984375,"y":97.55001831054688,"wires":[["6fd0cea4.9de0f"]]},{"id":"d86465ee.e12c98","type":"watson-natural-language-classifier","z":"a6fecf38.6893a","name":"","mode":"classify","language":"en","classifier":"359f41x201-nlc-216644","x":522.61669921875,"y":622.3000183105469,"wires":[["284cc9b2.cc9c0e","3a230138.1f3cfe"]]},{"id":"f9143211.48c0b","type":"join","z":"a6fecf38.6893a","name":"","mode":"custom","build":"string","property":"payload.text","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","x":880.1167297363281,"y":503.5833435058594,"wires":[["35a1c239.c854fe"]]},{"id":"284cc9b2.cc9c0e","type":"debug","z":"a6fecf38.6893a","name":"","active":true,"console":"false","complete":"payload","x":833.7333984375,"y":657.5500183105469,"wires":[]},{"id":"35a1c239.c854fe","type":"function","z":"a6fecf38.6893a","name":"pass joined ","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":780.11669921875,"y":557.2499694824219,"wires":[["d86465ee.e12c98"]]},{"id":"528ba95f.ffd3a8","type":"http in","z":"a6fecf38.6893a","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":63.7333984375,"y":317.5500183105469,"wires":[["8915f737.61253","a9edac4e.975ad"]]},{"id":"2b91bb8b.6e926c","type":"http response","z":"a6fecf38.6893a","name":"","statusCode":"","headers":{},"x":710,"y":800,"wires":[]},{"id":"8915f737.61253","type":"debug","z":"a6fecf38.6893a","name":"","active":true,"console":"false","complete":"payload","x":313.7333984375,"y":277.5500183105469,"wires":[]},{"id":"a9edac4e.975ad","type":"function","z":"a6fecf38.6893a","name":"get the request ","func":"msg.payload = msg.payload.request;\nreturn msg;","outputs":1,"noerr":0,"x":219.50006103515625,"y":361.8333435058594,"wires":[["bbea8e28.8f4f08"]]},{"id":"3a230138.1f3cfe","type":"function","z":"a6fecf38.6893a","name":"pass top class","func":"msg.payload = msg.payload.top_class;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":720,"wires":[["2b91bb8b.6e926c","40f02a33.b545fc"]]},{"id":"ebe8fa61.3a775","type":"debug","z":"a6fecf38.6893a","name":"","active":true,"console":"false","complete":"false","x":1075.5000305175781,"y":222.9000244140625,"wires":[]},{"id":"40f02a33.b545fc","type":"debug","z":"a6fecf38.6893a","name":"","active":true,"console":"false","complete":"payload","x":790,"y":720,"wires":[]}]